@font-face {
	font-family: "titulo";
	src: url(../assets/fonts/fonte.ttf);
}

@font-face {
	font-family: "fonte";
	src: url(../assets/fonts/ComicNeue-Regular.ttf);
}

@font-face {
	font-family: "comic";
	src: url(../assets/fonts/ComicNeue-Regular.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-family: "fonte", sans-serif;
	background: radial-gradient(ellipse at 50% 50%, #1a2b52 0%, #101e39 90%);
}

body {
	overflow: hidden;
}

button {
	width: 100%;
	height: 5.5vh;
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	animation: fadeIn 1s ease-in-out;
}

.titulo {
	margin-top: -20vh;
	margin-bottom: -5vh;
	margin-left: -2vh;
	width: 70vh;
	height: auto;
}

#mensagem {
	font-family: "comic", sans-serif;
	font-size: 2.7vh;
	color: #e9e4e4;
	margin: 5vh;
	text-align: center;
	transition: opacity 0.5s ease-in-out;
	animation: fadeInText 2s forwards;
	text-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.5);
}

.button-container {
	display: flex;
	flex-direction: column;
	gap: 0;
	width: 100%;
	max-width: 26.5vh;
	align-items: center;
}

#nome-jogador,
.game-button {
	width: 100%;
	padding: 2vh 0;
	color: white;
	font-family: "comic", sans-serif;
	border: 0.5vh solid rgba(0, 0, 0, 0.425);
	font-size: 2.5vh;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	border-radius: 0;
	transition: all 0.3s ease;
}

#nome-jogador {
	border-top-left-radius: 2.5vh;
	border-top-right-radius: 2.5vh;
	background-color: #333;
	border-bottom-width: 0.5v;
}

#nome-jogador:focus {
	background-color: rgba(75, 68, 68, 0.563);
	border-color: rgba(30, 29, 29, 0.841);
}

#nome-jogador::placeholder {
	color: #666;
}

.game-button {
	font-size: 1.8vh;
	background-color: #58b058;
	text-transform: uppercase;
	padding: 1.5vh 2vh;
	border-bottom-left-radius: 2.5vh;
	border-bottom-right-radius: 2.5vh;
	border-top-style: none;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.2s ease, filter 0.3s ease;
	box-shadow: 0 0.4vh 0.8vh rgba(9, 9, 9, 0.85);
}

.game-button:hover {
	background: #3f8a3f;
}

.game-button:disabled {
	cursor: not-allowed;
	filter: saturate(30%);
	color: #333;
}

.imagem-container {
	position: fixed;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	filter: saturate(0.5);
	transition: filter 0.3s, color 0.3s;
	color: #ac8787;
}

.imagem-container:hover {
	filter: saturate(1);
	color: #f1f1f1;
}

.imagem-container img {
	height: 10vh;
	width: 10vh;
}

.imagem-container .texto {
	font-size: 1.9vh;
	font-weight: bold;
	margin-top: 0.8vh;
	margin-bottom: 2vh;
}

.versao {
	font-size: 1.8vh;
	position: absolute;
	bottom: 4vh;
	color: rgba(233, 228, 228, 0.7);
	right: 2vh;
	text-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.5);
}

#ranking {
	top: 2vh;
	left: 2vw;
	padding-top: 4vh;
}

#customiza {
    position: fixed !important;
    bottom: 2vh !important;
    left: 2vw !important;
    padding-top: 0 !important;
}

.bola {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
	margin-bottom: 1.5vh;
}

.moedas-container {
	position: fixed;
	top: 2vh;
	right: 2vw;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5vh 1vw;
	border-radius: 2vh;
}

.moeda-icone {
	width: 3vh;
	height: 3vh;
	margin-right: 1vw;
}

#total-moedas {
	color: #ffd700;
	font-size: 2.5vh;
	font-weight: bold;
}